$block: diokan-announcements;


.#{$block} {
  padding: 19px 67px 26px 30px;
  @extend .diokan-content-block;
  &-inner{
    @extend .flexbox;
  }
  &__header{
    margin-bottom:13px;
  }
  &__item{
    @extend .flexbox;
    flex:0 1 20%;
    margin-right: 50px;
    @media screen and (max-width: 1439px){
      flex-flow: column wrap;
      align-items: center;
    }
    &:last-of-type{
      margin-right: 0;
    }
    &-group{
      @media screen and (max-width: 1439px){
        text-align: center;
      }
    }
    &-image{
      width: 70px;
      height: 70px;
      flex:0 0 70px;
      margin-right: 14px;
      @media screen and (max-width: 1439px){
      margin: 0 0 20px 0;
      }
    }
    &-description{
      margin-bottom: 7px;
      font-size: 14px;
      font-weight: 300;
      color: $color2;
    }
    &-link{

    }
  }
}

