$block: ".diokan-card-info";

#{$block}{
    &-group{
        @extend .flexbox;
        align-items: baseline;
    }
    &-name{
        margin: 0 7px 10px 0;
        font-size: 32px;
        font-weight: 300;
        color: $color2;
        line-height: 1;
    }
    &-id{
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 24px;
        color: $color2;
        line-height: 1;
    }
    &-date{
        margin:0 15px 16px 0;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.22;
        color: $color5;
    }
    &-location{
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.22;
        color: $color5;
    }
    &-icon{
        display: inline-block;
        &__location{
            margin-right: 7px;
            font-size: 18px;
            color: $color5;
        }
        &__message{
            margin-right: 10px;
            font-size: 14px;
            color: $color5;
        }
        &__phone{
            margin-right: 9px;
            font-size: 18px;
            color: $color5;
        }
    }
    &-email{
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: 300;
        color: $color2;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-phone{
        font-size: 18px;
        font-weight: 300;
        color: $color2;
    }
}