html{
  height: 100%;
}
body{
  font-family: $font-primary;
  height: 100%;
  background: $color3;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.diokan-fullpage{
  @extend .flexbox;
  flex-flow: column nowrap;
  @extend .justify-between;
  @extend .align-center;
  transition: none;
}
.diokan-content-align-center{
  @extend .flexbox;
  @extend .align-center;
}

.diokan-block-group{
  margin-bottom: 30px;
}
.container{
  position: relative;
}

.flexbox{
  display: flex;
}
.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.flexwrap{
  flex-wrap: wrap;
}
.nopadding{
  padding: 0;
}
.nomargin{
  margin: 0;
}

.diokan-content-text{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: $color2;
}

.diokan-blocks-equal{
  @extend .flexbox;
  transition: none;
}