input{
  &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
}

.diokan-placeholder-light{

    &::-webkit-input-placeholder       {color:$color5;}
    &::-moz-placeholder                {color:$color5;}
    &:-moz-placeholder                 {color:$color5;}
    &:-ms-input-placeholder            {color:$color5;}

}