@font-face {
 font-family: 'Rubik';
 font-style: normal;
 font-weight: 300;
 src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Light.ttf') format('ttf');
}
@font-face {
 font-family: 'Rubik';
 font-style: normal;
 font-weight: 400;
 src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Medium.ttf') format('ttf');
}
@font-face {
 font-family: 'Rubik';
 font-style: normal;
 font-weight: 600;
 src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Bold.ttf') format('ttf');
}
@font-face {
 font-family: 'Rubik';
 font-style: normal;
 font-weight: 900;
 src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Black.ttf') format('ttf');
}


@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Light.woff') format('woff');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Light.eot') format('eot');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Regular.eot') format('eot');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Medium.eot') format('eot');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: local('Rubik'), local('Rubik'), url('./fonts/Rubik/Rubik-Bold.eot') format('eot');
}
