$block: diokan-icon;

.#{$block}{
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__facebook{
    &:before{
      content: "\f09a" !important;
      background: $color8;
    }
  }
  &__twitter{
    &:before{
      content: "\f099" !important;
      background: $color9;
    }
  }
  &__google{
    &:before{
      content: "\f1a0" !important;
      background: $color10;
    }
  }
  &__upload{
    &:before{
      content: "\f0ee";
    }
  }
  &__complete{
    &:before{
      content: "\f058";
    }
  }
  &-default{
    position: relative;
    display:block;
    width:40px;
    height:34px;
    &:before{
      content: '';
        background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="38" height="32" viewBox="0 0 118 99"><defs><linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%"><stop offset="0%" stop-color="#0788E2"/><stop offset="100%" stop-color="#12A3E1"/></linearGradient></defs><g fill="url(#a)" fill-rule="evenodd"><path d="M23.737 98.803H0V.403h23.737v8.422H10.91V90.38h12.826zM76.51 48.297c0-9.593-7.609-17.978-17.422-17.978-9.71 0-17.87 7.832-17.87 17.647 0 9.705 7.497 18.09 17.534 18.09 9.821 0 17.758-7.94 17.758-17.759m-48.522-.219c0-17.205 14.005-30.993 31.1-30.993 16.983 0 30.661 14.117 30.661 30.881 0 17.207-13.678 31.324-30.997 31.324-17.207 0-30.764-14.229-30.764-31.212M94 90.38h12.826V8.826H94V.403h23.737v98.4H94z"/></g></svg>') no-repeat;
        background-size:contain;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @extend .flexbox;
        @extend .justify-between;
        @extend .align-center;
    }
  }
  &-arrow-back{
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
    color: $color6;
  }
  &-plus{
    position: relative;
    display: inline-block;
    padding-right: 7px;
    font-size: 20px;
    color: $color6;
    z-index: 2;
    &__underline-hide{
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $color;
        z-index: -1;
      }
    }
  }
}
