$block: diokan-link;


.#{$block} {
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: $color6;
  &:hover,
  &:active,
  &:focus,
  &focus:active{
    color: $color6;
    text-decoration: none;
  }
  &__underline{
    text-decoration: underline;
    white-space: nowrap;
  }

  &.#{$block} {
    &__small{
      font-size: 14px;
    }
    &__medium{
      font-size: 16px;
    }
  }
}