$block: diokan-slider;

.#{$block} {
  overflow: hidden;
  *{
    transition: none;
  }
  &-news{
    .slick-slide{
     &:focus,
     &:active{
       outline: none;
     }
    }
    .slick-dots{
      display: flex !important;
      @extend .justify-center;
      padding: 0;
      margin: 0;
      li{
        margin-right: 12px;
        list-style: none;
        &.slick-active{
          button{
            background-color: $color1;
          }
        }
      }
      button{
        width: 8px;
        height: 8px;
        padding: 0;
        background: $color19;
        border: none;
        border-radius: 50%;
        text-indent: -99999999px;
        color: transparent;
        &:hover,
        &:focus,
        &:active,
        &:active:focus {
          outline:none;
          box-shadow: none;
        }
      }
    }
  }
}